body{
    margin: 0;
    padding: 0;
}
#container{
    width: 100%;
    height: 3450px;
    background-color: white;
}
#container2{
    width: 100%;
    height: 5550px;
    background-color: white;
}
#heading {
    width: 100%;
    height: 50px;
    background-color: #53565a;
    position: fixed;
    overflow: hidden;
    z-index: 9;
}
/*#heading>img{*/
    /*position: absolute;*/
    /*top: 4px;*/
    /*left: 863px;*/
/*}*/
.home{
    position: absolute;
    top: 4px;
    left: 200px;
}
/*PC端样式*/
@media screen and (min-width: 960px) {

}

/*ipad端样式*/
@media screen and (min-width: 750px) and (max-width: 960px) {

}


/*手机端样式*/
@media screen and (max-width: 750px) {

}
#content_body{
    width: 1520px;
    height: 3400px;
    background-color: #f5f5ff;
    margin-left: 200px;
    margin-right: 200px;
}
#content_body2{
    width: 1520px;
    height: 5500px;
    background-color: #f5f5ff;
    margin-left: 200px;
    margin-right: 200px;
}
#footing {
    width: 100%;
    height: 50px;
    background-color: #53565a;
    overflow: hidden;
}
/*img{*/
    /*margin-left: 200px;*/
    /*margin-top: 7px;*/
/*}*/
/*不使用图片自适应缩放效果时才用*/
ul{
    list-style-type: none;
    float: left;
    overflow: hidden;
    position: fixed;
    right: 185px;
    display: flex;
    margin-top: 14px;
}
a:link,a:visited{
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: white;
}
a:active,a:hover{
    color: #aadb1e ;
}
li{
    display: inline;
    padding-left: 60px;
}
.picture1{
    float: left;
    position: absolute;
    left: 0px;
    top:50px;
    z-index: 1;
}
/*.picture2{*/
    /*float: left;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top:443px;*/
/*}*/
/*不使用图片自适应缩放效果时才用*/
.picture2{
    position: absolute;
    left: 200px;
    top:443px;
    width: 1520px;
    height: 600px;
    overflow: hidden;/*不加则整体中心缩放，加上则外框不变中心缩放*/
}
.picture2>img{
    display: block;/*图片以块级元素显示*/
    width:100%;
    height:100%;
    transition:all 1s;/*缩放变化所用时间*/
}
.picture2>img:hover{
    transform:scale(1.2);/*鼠标点击时缩放倍数*/
}
.maintext1{
    font-size: 48px;
    font-weight: bold;
    color: #53565a;
    position: absolute;
    top:170px;
    left: 745px;
    z-index: 2;
}
.maintext2{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #53565a;
    position: absolute;
    top:230px;
    left: 817px;
    z-index: 2;
}
.case1text1{
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top:530px;
    left: 420px;
}
.case1text2{
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top:550px;
    left: 282px;
}
.case1text3{
    font-size: 18px;
    font-weight: bold;
    color: white;
    position: absolute;
    top:590px;
    left: 338px;
}
.case2text1{
    font-size: 32px;
    font-weight: bold;
    color: #53565a;
    position: absolute;
    top:1080px;
    left: 840px;
    padding: 5px;
    border: solid 2px #99cc33;
    box-shadow: 5px 5px 10px gray;
}
.case2text2{
    font-size: 26px;
    font-weight: bold;
    color: #53565a;
    position: absolute;
    top:1160px;
    left: 470px;
}
.case2text3{
    font-size: 26px;
    font-weight: bold;
    color: #53565a;
    position: absolute;
    top:1160px;
    left: 1180px;
}
.box {
    width: 608px;
    height: 240px;
    background: url(image/地上半包式-哈尔滨松北转运站.png) no-repeat center;
    background-size: cover;
    position: absolute;
    top:1350px;
    left: 600px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.box::before, .box::after {
    content: '';
    border: 2px solid #2ecc71;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -15px;
    /* clip: rect(top, right, bottom, left) */
    -webkit-animation: borderClip 8s linear infinite;
    animation: borderClip 8s ease infinite;
}
.box::after {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
}
.box:hover::before, .box:hover::after {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
@-webkit-keyframes borderClip {
    0%, 100% {
        clip: rect(0px, 638px, 2px, 0px);
    }
    25% {
        clip: rect(0px, 2px, 270px, 0px);
    }
    50% {
        clip: rect(268px, 638px, 270px, 0px);
    }
    75% {
        clip: rect(0px, 638px, 270px, 636px);
    }
}
@keyframes borderClip {
    0%, 100% {
        clip: rect(0px, 638px, 2px, 0px);
    }
    25% {
        clip: rect(0px, 2px, 270px, 0px);
    }
    50% {
        clip: rect(268px, 638px, 270px, 0px);
    }
    75% {
        clip: rect(0px, 638px, 270px, 636px);
    }
}
.box2 {
    width: 608px;
    height: 240px;
    background: url(image/地上半包式-常德刘家湾转运站.png) no-repeat center;
    background-size: cover;
    position: absolute;
    top:1350px;
    right: -20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.box2::before, .box2::after {
    content: '';
    border: 2px solid #2ecc71;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -15px;
    /* clip: rect(top, right, bottom, left) */
    -webkit-animation: borderClip 8s linear infinite;
    animation: borderClip 8s ease infinite;
}
.box2::after {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
}
.box2:hover::before, .box2:hover::after {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
@-webkit-keyframes borderClip {
    0%, 100% {
        clip: rect(0px, 638px, 2px, 0px);
    }
    25% {
        clip: rect(0px, 2px, 270px, 0px);
    }
    50% {
        clip: rect(268px, 638px, 270px, 0px);
    }
    75% {
        clip: rect(0px, 638px, 270px, 636px);
    }
}
@keyframes borderClip {
    0%, 100% {
        clip: rect(0px, 638px, 2px, 0px);
    }
    25% {
        clip: rect(0px, 2px, 270px, 0px);
    }
    50% {
        clip: rect(268px, 638px, 270px, 0px);
    }
    75% {
        clip: rect(0px, 638px, 270px, 636px);
    }
}
.case2text4{
    font-size: 18px;
    font-weight: bold;
    color: #53565a;
    position: absolute;
    top:1500px;
    left: 365px;
    border-bottom: 2px solid #53565a;
    padding-bottom: 5px;
}
.case2text5{
    font-size: 18px;
    font-weight: bold;
    color: #53565a;
    position: absolute;
    top:1500px;
    left: 1080px;
    border-bottom: 2px solid #53565a;
    padding-bottom: 5px;
}
/*.picture3{*/
    /*float: left;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top:1600px;*/
/*}*/
/*不使用图片自适应缩放效果时才用*/
.picture3{
    position: absolute;
    left: 200px;
    top:1600px;
    width: 1520px;
    height: 600px;
    overflow: hidden;/*不加则整体中心缩放，加上则外框不变中心缩放*/
}
.picture3>img{
    display: block;/*图片以块级元素显示*/
    width:100%;
    height:100%;
    transition:all 1s;/*缩放变化所用时间*/
}
.picture3>img:hover{
    transform:scale(1.2);/*鼠标点击时缩放倍数*/
}
.case3text1{
    font-size: 18px;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 360px;
    top:2020px;
}
.case3text2{
    font-size: 32px;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 278px;
    top:2040px;
}
.case3text3{
    font-size: 18px;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 342px;
    top:2080px;
}
.case4text1{
    font-size: 32px;
    font-weight: bold;
    color: #53565a;
    position: absolute;
    top:2240px;
    left: 840px;
    padding: 5px;
    border: solid 2px #99cc33;
    box-shadow: 5px 5px 10px gray;
}
.case4text2{
    font-size: 26px;
    font-weight: bold;
    color: #53565a;
    position: absolute;
    top:2320px;
    left: 470px;
}
.case4text3{
    font-size: 26px;
    font-weight: bold;
    color: #53565a;
    position: absolute;
    top:2320px;
    left: 1180px;
}
.box3 {
    width: 608px;
    height: 240px;
    background: url(image/全下沉式1.png) no-repeat center;
    background-size: cover;
    position: absolute;
    top:2510px;
    left: 600px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.box3::before, .box3::after {
    content: '';
    border: 2px solid #2ecc71;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -15px;
    /* clip: rect(top, right, bottom, left) */
    -webkit-animation: borderClip 8s linear infinite;
    animation: borderClip 8s ease infinite;
}
.box3::after {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
}
.box3:hover::before, .box3:hover::after {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
@-webkit-keyframes borderClip {
    0%, 100% {
        clip: rect(0px, 638px, 2px, 0px);
    }
    25% {
        clip: rect(0px, 2px, 270px, 0px);
    }
    50% {
        clip: rect(268px, 638px, 270px, 0px);
    }
    75% {
        clip: rect(0px, 638px, 270px, 636px);
    }
}
@keyframes borderClip {
    0%, 100% {
        clip: rect(0px, 638px, 2px, 0px);
    }
    25% {
        clip: rect(0px, 2px, 270px, 0px);
    }
    50% {
        clip: rect(268px, 638px, 270px, 0px);
    }
    75% {
        clip: rect(0px, 638px, 270px, 636px);
    }
}
.box4 {
    width: 608px;
    height: 240px;
    background: url(image/全下沉式2.png) no-repeat center;
    background-size: cover;
    position: absolute;
    top:2510px;
    right: -20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.box4::before, .box4::after {
    content: '';
    border: 2px solid #2ecc71;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -15px;
    /* clip: rect(top, right, bottom, left) */
    -webkit-animation: borderClip 8s linear infinite;
    animation: borderClip 8s ease infinite;
}
.box4::after {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
}
.box4:hover::before, .box4:hover::after {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
@-webkit-keyframes borderClip {
    0%, 100% {
        clip: rect(0px, 638px, 2px, 0px);
    }
    25% {
        clip: rect(0px, 2px, 270px, 0px);
    }
    50% {
        clip: rect(268px, 638px, 270px, 0px);
    }
    75% {
        clip: rect(0px, 638px, 270px, 636px);
    }
}
@keyframes borderClip {
    0%, 100% {
        clip: rect(0px, 638px, 2px, 0px);
    }
    25% {
        clip: rect(0px, 2px, 270px, 0px);
    }
    50% {
        clip: rect(268px, 638px, 270px, 0px);
    }
    75% {
        clip: rect(0px, 638px, 270px, 636px);
    }
}
.case4text4{
    font-size: 18px;
    font-weight: bold;
    color: #53565a;
    position: absolute;
    top:2660px;
    left: 365px;
    border-bottom: 2px solid #53565a;
    padding-bottom: 5px;
}
.case4text5{
    font-size: 18px;
    font-weight: bold;
    color: #53565a;
    position: absolute;
    top:2660px;
    left: 1080px;
    border-bottom: 2px solid #53565a;
    padding-bottom: 5px;
}
/*.picture4{*/
    /*float: left;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top:2760px;*/
/*}*/
/*不使用图片自适应缩放效果时才用*/
.picture4{
    position: absolute;
    left: 200px;
    top:2760px;
    width: 1520px;
    height: 600px;
    overflow: hidden;/*不加则整体中心缩放，加上则外框不变中心缩放*/
}
.picture4>img{
    display: block;/*图片以块级元素显示*/
    width:100%;
    height:100%;
    transition:all 1s;/*缩放变化所用时间*/
}
.picture4>img:hover{
    transform:scale(1.2);/*鼠标点击时缩放倍数*/
}
.case5text1{
    font-size: 18px;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 1400px;
    top:3180px;
}
.case5text2{
    font-size: 32px;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 1305px;
    top:3200px;
}
.case5text3{
    font-size: 18px;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 1312px;
    top:3240px;
}
.footext1{
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    color: white;
    padding-top: 5px;
}
.footext2{
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    color: white;
    padding-bottom: 5px;
}
.rocket {
    width: 60px;
    height: 120px;
    background: url(image/rocket1.png) top;
    background-size: cover;
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: none;
}
.rocket:hover {
    background-position: bottom;
}

.maintext11,.maintext22{
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    color: white;
}
.maintext11{
    position: absolute;
    top: 135px;
    left: 778px;
    z-index: 2;
}
.maintext22{
    position: absolute;
    top: 195px;
    left: 850px;
    z-index: 2;
}
.maintext11>span,.maintext22>span{
    color: #aadb1e;
}
.nav11{
    height: 150px;
    width: 250px;
    background: url(image/navlys.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    top: 480px;
    left: 430px;
    border-radius: 10px;
}
.nav22{
    height: 150px;
    width: 250px;
    background: url(image/navlysp.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    top: 480px;
    left: 830px;
    border-radius: 10px;
}
.nav33{
    height: 150px;
    width: 250px;
    background: url(image/navlyv.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    top: 480px;
    left: 1230px;
    border-radius: 10px;
}
.nav11text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-size: 28px;
    font-weight: bold;
    color: white;
}
.nav22text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-size: 28px;
    font-weight: bold;
    color: white;
}
.nav33text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-size: 28px;
    font-weight: bold;
    color: white;
}
.frametext1{
    /*width: 130px;*/
    /*height: 45px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    color: #53565a;
    position: absolute;
    /*top: 1460px;*/
    top: 1435px;
    left: 885px;
    /*padding: 5px;*/
    /*border: solid 2px #99cc33;*/
    /*box-shadow: 5px 5px 10px gray;*/
}
.detailpicture1{
    width: 576px;
    height: 324px;
    position: absolute;
    top: 1550px;
    left: 360px;
    overflow:hidden;
    border-radius: 30px;
}
.detailpicture1>img{
    display: block;/*图片以块级元素显示*/
    width:100%;
    height:100%;
    transition:all 1s;/*缩放变化所用时间*/
}
.detailpicture1>img:hover{
    transform:scale(1.5);/*鼠标点击时缩放倍数*/
}
.detailtext1{
    position: absolute;
    top: 1630px;
    left: 1000px;
    font-size: 24px;
    font-weight: bold;
    color: #53565a;
    border-bottom: 2px dashed #53565a;
    padding-bottom: 10px;
}
.detailpicture2{
    width: 576px;
    height: 324px;
    position: absolute;
    top: 1900px;
    left: 980px;
    overflow:hidden;
    border-radius: 30px;
}
.detailpicture2>img{
    display: block;/*图片以块级元素显示*/
    width:100%;
    height:100%;
    transition:all 1s;/*缩放变化所用时间*/
}
.detailpicture2>img:hover{
    transform:scale(1.5);/*鼠标点击时缩放倍数*/
}
.detailtext2{
    position: absolute;
    top: 1970px;
    left: 400px;
    font-size: 24px;
    font-weight: bold;
    color: #53565a;
    border-bottom: 2px dashed #53565a;
    padding-bottom: 10px;
}
.frame2text1{
    /*width: 130px;*/
    /*height: 45px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    color: #53565a;
    position: absolute;
    /*top: 1460px;*/
    top: 3035px;
    left: 885px;
    /*padding: 5px;*/
    /*border: solid 2px #99cc33;*/
    /*box-shadow: 5px 5px 10px gray;*/
}
.detail2picture1{
    width: 576px;
    height: 324px;
    position: absolute;
    top: 3150px;
    left: 980px;
    overflow:hidden;
    border-radius: 30px;
}
.detail2picture1>img{
    display: block;/*图片以块级元素显示*/
    width:100%;
    height:100%;
    transition:all 1s;/*缩放变化所用时间*/
}
.detail2picture1>img:hover{
    transform:scale(1.5);/*鼠标点击时缩放倍数*/
}
.detail2text1{
    position: absolute;
    top: 3220px;
    left: 400px;
    font-size: 24px;
    font-weight: bold;
    color: #53565a;
    border-bottom: 2px dashed #53565a;
    padding-bottom: 10px;
}
.detail2picture2{
    width: 576px;
    height: 324px;
    position: absolute;
    top: 3500px;
    left: 360px;
    overflow:hidden;
    border-radius: 30px;
}
.detail2picture2>img{
    display: block;/*图片以块级元素显示*/
    width:100%;
    height:100%;
    transition:all 1s;/*缩放变化所用时间*/
}
.detail2picture2>img:hover{
    transform:scale(1.5);/*鼠标点击时缩放倍数*/
}
.detail2text2{
    position: absolute;
    top: 3580px;
    left: 1000px;
    font-size: 24px;
    font-weight: bold;
    color: #53565a;
    border-bottom: 2px dashed #53565a;
    padding-bottom: 10px;
}
.frame3text1{
    /*width: 130px;*/
    /*height: 45px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
    color: #53565a;
    position: absolute;
    /*top: 1460px;*/
    top: 4640px;
    left: 885px;
    /*padding: 5px;*/
    /*border: solid 2px #99cc33;*/
    /*box-shadow: 5px 5px 10px gray;*/
}
.detail3picture1{
    width: 576px;
    height: 324px;
    position: absolute;
    top: 4760px;
    left: 360px;
    overflow:hidden;
    border-radius: 30px;
}
.detail3picture1>img{
    display: block;/*图片以块级元素显示*/
    width:100%;
    height:100%;
    transition:all 1s;/*缩放变化所用时间*/
}
.detail3picture1>img:hover{
    transform:scale(1.5);/*鼠标点击时缩放倍数*/
}
.detail3picture2{
    width: 576px;
    height: 324px;
    position: absolute;
    top: 5110px;
    left: 980px;
    overflow:hidden;
    border-radius: 30px;
}
.detail3picture2>img{
    display: block;/*图片以块级元素显示*/
    width:100%;
    height:100%;
    transition:all 1s;/*缩放变化所用时间*/
}
.detail3picture2>img:hover{
    transform:scale(1.5);/*鼠标点击时缩放倍数*/
}
.detail3text1{
    position: absolute;
    top: 4840px;
    left: 1000px;
    font-size: 24px;
    font-weight: bold;
    color: #53565a;
    border-bottom: 2px dashed #53565a;
    padding-bottom: 10px;
}
.detail3text2{
    position: absolute;
    top: 5190px;
    left: 400px;
    font-size: 24px;
    font-weight: bold;
    color: #53565a;
    border-bottom: 2px dashed #53565a;
    padding-bottom: 10px;
}



